.card {
  background: rgb(0, 0, 0);
  margin: 1rem;
  box-shadow: 0 0px 18px rgb(231, 235, 5), 0 2px 4px #999;
  text-align: left;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:rgb(0, 0, 0);
}
.card > .img-container > img {
  width: 50%
}

